@import 'animate';
// @import 'swiss';



@font-face {
  font-family: 'Alegreya-Thin';
  src: url('../resources/fonts/AlegreyaSansSC-Thin.ttf');
}

h1{
  width: 17em;
  height: 3em;
  font-family: 'Alegreya-Thin';
  position: absolute;
  margin: auto;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white !important;
  font-size: 70px;
  font-weight: 100;
}
body{
  background-color: black !important
}

#agenda{
  border: 2px solid #F5F5F5;
  color: #F5F5F5;
  font-size: 35px;
  width: 520px;
  height: 140px;
  position: absolute;
  right: 20px;
  top: 220px;
}
h2{
  color: inherit;
  font-size: 30px;
  border: none;
  text-align: right;
  padding: 0 20px 0 0;
  margin: 0;
}
p{
  text-align: center;
}
