@import 'animate';
// @import 'swiss';



@font-face {
  font-family: 'Alegreya-Thin';
  src: url('../resources/fonts/AlegreyaSansSC-Thin.ttf');
}
body{
  background-color: black;
  font-family: 'Alegreya-Thin';
  color: white;
}

#main-text-container h1{
  width: 17em;
  height: 3em;
  position: absolute;
  margin: auto;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white !important;
  font-size: 70px;
  font-weight: 100;
}

#agenda{
  border: 2px solid #F5F5F5;
  color: #F5F5F5;
  font-size: 35px;
  width: 520px;
  height: 140px;
  position: absolute;
  right: 20px;
  top: 220px;
}
h2{
  color: inherit;
  font-size: 30px;
  border: none;
  text-align: right;
  padding: 0 20px 0 0;
  margin: 0;
}
p{
  text-align: center;
}

@keyframes fade-in{
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade-out{
  0% {opacity: 1;}
  100% {opacity: 0;}
}
#weather-container{
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 20px;
  // animation-name: fade-in;
  animation-duration: 3s;
  i{
    font-size: 100px;
    display: block;
    text-align: center;
    height: 1.2em;
  }
  p{
    font-size: 30px;
    margin: 0;
    text-align: center;
    line-height: 1em;
  }
}

#widgets-container{
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: auto;
}
.widget{
  animation-duration: .5s;
}

.cascade{
  @extend .animated;
  animation-name: flipInX;
  animation-duration: .8s;
  transform-origin: 50% 0%;
}
.cascade:nth-of-type(1){ animation-delay: 0s }
.cascade:nth-of-type(2){ animation-delay: 0.15s }
.cascade:nth-of-type(3){ animation-delay: 0.30s }
.cascade:nth-of-type(4){ animation-delay: .45s }
.cascade:nth-of-type(5){ animation-delay: .60s }
.cascade:nth-of-type(6){ animation-delay: 75s }
.cascade:nth-of-type(7){ animation-delay: 90s }
.cascade:nth-of-type(8){ animation-delay: 1.05s }
.cascade:nth-of-type(9){ animation-delay: 1.20s }
.cascade:nth-of-type(10){ animation-delay: 1.35s }
.cascade:nth-of-type(11){ animation-delay: 1.5s }
.cascade:nth-of-type(12){ animation-delay: 1.65s }
.cascade:nth-of-type(13){ animation-delay: 1.80s }

.trans-stop{
  border: 1px solid white;
  width: 17em;
  padding: 10px;
  margin: 10px;
}
.selected{
  background-color: white !important;
  color: black !important;
  p{
    color: black !important;
  }
}

.trans-stop h2{
  text-align: left;
}
.trans-stop .trans-direction{
  margin: 0;
  text-align: left;
}
.trans-stop .trans-lines{
  text-align: left;
  color: white;
  font-weight: bold;
  margin: 0;
}

.trans-bus-time{
  @extend .cascade;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  padding: 2px 20px;
  margin: 10px;
  border-bottom: 1px solid white;
}
