@import 'animate';
// @import 'swiss';



@font-face {
  font-family: 'Alegreya-Thin';
  src: url('../resources/fonts/AlegreyaSansSC-Thin.ttf');
}
body{
  background-color: black;
  font-family: 'Alegreya-Thin';
  color: white;
}

h1{
  width: 17em;
  height: 3em;
  position: absolute;
  margin: auto;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white !important;
  font-size: 70px;
  font-weight: 100;
}

#agenda{
  border: 2px solid #F5F5F5;
  color: #F5F5F5;
  font-size: 35px;
  width: 520px;
  height: 140px;
  position: absolute;
  right: 20px;
  top: 220px;
}
h2{
  color: inherit;
  font-size: 30px;
  border: none;
  text-align: right;
  padding: 0 20px 0 0;
  margin: 0;
}
p{
  text-align: center;
}

@keyframes fade-in{
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade-out{
  0% {opacity: 1;}
  100% {opacity: 0;}
}
#weather-container{
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 20px;
  // animation-name: fade-in;
  animation-duration: 3s;
  i{
    font-size: 100px;
    display: block;
    text-align: center;
  }
  p{
    font-size: 30px;
    margin: 0;
    text-align: center;
    line-height: 1em;
  }
}
